
user {{ nginx.user }};
worker_processes {{ nginx.worker_processes }};
pid {{ nginx.pid }};

events {
    worker_connections {{ nginx.worker_connections }};
}

http {
    sendfile {{ nginx.sendfile }};
    tcp_nopush {{ nginx.tcp_nopush }};
    tcp_nodelay {{ nginx.tcp_nodelay }};
    keepalive_timeout {{ nginx.keepalive_timeout }};
    types_hash_max_size {{ nginx.types_hash_max_size }};
    server_tokens {{ nginx.server_tokens }};
    
    include /etc/nginx/mime.types;
    default_type {{ nginx.default_type }};

    ssl_protocols {{ nginx.ssl_protocols }};
    ssl_ciphers {{ nginx.ssl_ciphers }};
    ssl_prefer_server_ciphers {{ nginx.ssl_prefer_server_ciphers }};

    log_format {{ nginx.log_format }};

    access_log {{ nginx.access_log }};
    error_log {{ nginx.error_log }};

    gzip {{ nginx.gzip }};
    gzip_disable {{ nginx.gzip_disable }};
    gzip_types {{ nginx.gzip_types }};
    {% for served_domain in served_domains %}
        server {

            index {% for item in served_domain.index %}
                {{ item }}
            {% endfor %};

            {% if served_domain.https %}
                listen 443;
                ssl on;
                ssl_certificate     {{ served_domain.fullchain_path }};
                ssl_certificate_key {{ served_domain.privkey_path }};

            {% else %}
                listen 80;
            {% endif %} 
            server_name {% for domain in [domain_preffixe, served_domain.domains, domain_suffixe]| product %}
                {{ domain|join(".") }}
            {% endfor %};

            {% for location_var in served_domain.locations %}
                location {{location_var.condition}} {
                    {% for ip_range in served_domain.allowed_ip_ranges %}
                        allow {{ip_range}};
                        deny all;
                    {% endfor %}
                    {{ location_var.content }}
                }

            {% endfor %}
    {% endfor %}
    
}